.container{
    border: 1px solid greenyellow;
    border-radius: 3px ;
    box-shadow: 0 0 5px rgb(172, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
       gap: 20px;
       height: 400px;
       width: 800px;
       
}#box{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid green;
}
.smbox{
    border: 1px solid greenyellow;
     font-size: xx-large;
    background-color: black;
    color: white;
    border-radius: 10px ;
    text-align: center;
    padding-top: 40px;
    width: 100px;
    height: 80px;
     
}